.container {
    width: 90%;
    margin: 0 auto;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

